

#main {
	width: 90%;
	margin: 40px auto;
}

.rich-panel {
	width: 100%
}

.table-wrapper table {
	margin: 0 auto;
}

.filter table{
	margin: 0 auto;
}


@media only screen and (min-width: 200px) and (max-width: 600px) {
	#main {
		width: 90%;
		margin: 20px auto;
	}
}